
/*-----------------Header----------------------------------------------------------------------*/
#header-nav{
    background-color: white;
    border: 0px;
    
}

.navbar-default .navbar-brand {
    font-size: 1.5em;
   
}

#collapsable-nav {
    background-color:fuchsia;
	
    
}

/*----NAVBAR LIST ITEMS------------------------------*/


#nav-list{
    text-align:center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight:bold;
    color: white;

}
.navbar-default .navbar-nav>li>a {
    color: black;
}

li:hover, li:focus, li:active {
    /*background-color: DodgerBlue;*/
	background-color: #0ebd94;
	

}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}


	 
	   

/*----NAVBAR TOGGLE BUTTON------------------------------*/

button.navbar-toggle {
    background-color:white;
    border:0px;
    
}
    
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:red;
}
